$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #f87e25;
$color-error: #dc3545;
$color-white: #ffffff;
$color-black: #000000;
$color-tradewind: #51acae;
$color-ask: #4A4853;
$color-copy: #798787;
$color-border-input: #bcc3c3;
$color-select-disable: #f2f5f5;
$color-button-disable: #e6e6e6;
$color-unit-cost: #51acae;

$bg-color-info-toast: #e6e6e6;
$border-color-info-toast: #4a4853;
$bg-color-error-toast: #fdece9;
$border-color-error-toast: #eb3d26;
$bg-color-acc: #F87E25;

$primary-color: #131314;
$active-color: #51ACAE;

$main-background-color: #D8D8D8;
$main-text-color: $color-black;

$header-color: $color-white;
$header-login-icon-color: $active-color;
$header-logo-color: #183c48;

$scroll-bar-track-color: #e6e6e6;

$breadcrumbs-active-color: #38999b;
