$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-error: #dc3545;
$color-white: #ffffff;
$color-black: #000000;

$main-background-color: #f9f9f9;
$main-text-color: $color-black;

$header-color: green;
