$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-error: #dc3545;
$color-white: #ffffff;
$color-black: #000000;
$color-tradewind: #51acae;

$primary-color: #131314;
$active-color: #51ACAE;

$main-background-color: #D8D8D8;
$main-text-color: $color-black;

$header-color: $color-white;
$header-login-icon-color: $active-color;
$header-logo-color: #183c48;
