@mixin advertisement-gap-for-price-buttons {
  width: 50%;
  padding: 0 .4rem;
}

@mixin advertisement-margin-for-price-buttons {
  margin: 0 -.4rem;
}

@mixin advertisement-icon-size {
  width: 1.333rem;
  height: 1.333rem;
  font-size: 1.4rem;
}

@mixin advertisement-wrap-buttons {
  .advertisement-wrap__btns {
    display: none;
    margin-top: auto;
  }
}

@mixin advertisements-buttons {
  .advertisement-btns {
    display: flex;
    justify-content: flex-end;
    @include advertisement-margin-for-price-buttons;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        line-height: 2.667rem;
      }
    }

    &__icon {
      @include advertisement-icon-size;
      margin: 0 0.833rem 0 0;
    }
  }

  .advertisement-btn {
    @include advertisement-gap-for-price-buttons;
  }
}
