@import "offsets";
@import "responsive";
@import "colors";

@mixin advertisement-gap-for-price-buttons {
  width: 50%;
  padding: 0 0.4rem;
}

@mixin advertisement-margin-for-price-buttons {
  margin: 0 -0.4rem;
}

@mixin advertisement-icon-size {
  width: 1.333rem;
  height: 1.333rem;
  font-size: 1.3rem;
}

@mixin advertisement-wrap-buttons {
  .advertisement-wrap__btns {
    display: none;
    margin-top: auto;
    @media only screen and (max-width: $medium-x-screen-min-width) {
      display: block;
      margin-top: $offset-xlarge;
    }
    &.my-advertisements-btn {
      display: block;
    }
  }
}

@mixin advertisements-buttons {
  .advertisement-btns {
    display: flex;
    justify-content: flex-end;
    @include advertisement-margin-for-price-buttons;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        line-height: 2.667rem;
      }
      @media only screen and (max-width: $medium-x-screen-min-width) {
        padding-top: $offset-medium;
        padding-bottom: $offset-medium;
      }
    }

    &__icon {
      @include advertisement-icon-size;
      margin: 0 0.833rem 0 0;
      @media only screen and (max-width: $laptop-min-width) {
        margin: -0.5rem 0.833rem 0 0;
      }
    }
  }

  .advertisement-btn {
    @include advertisement-gap-for-price-buttons;
    &:only-child {
      width: 100%;
    }
  }
}

.buttons-container {
  .advertisement-btns {
    .advertisement-btn {
      margin-top: $offset-medium;
      width: 100% !important;
    }
    @media only screen and (max-width: $medium-screen-min-width) {
      display: flex;
      flex-direction: column;
    }
  }
}

@mixin empty-advertisement-block {
  .empty-advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;

    p {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 500;
      color: $color-copy;
    }
  }
}


@mixin mat-tab-styles {
  .mat-tab-body {
    min-height: 50vh;
  }
  .mat-tab-label {
    height: 5.3rem;
    opacity: 1;
  }

  .mat-tab-header {
    border: none;
    box-shadow: inset 0 -0.083rem 0 #e6e6e6;
  }

  .mat-tab-label-active {
    background-color: #f6fbfb;
  }

  .mat-tab-label-content {
    font-size: 1.5rem;
    color: $primary-color;
  }
}

@mixin advertisement-disabled {
  .advertisement-price .advertisement-disabled,
  .advertisement-price__total .advertisement-disabled,
  .advertisement-title .advertisement-disabled {
    color: $color-copy !important;
  }
}

