@import "../../../styles/general-styles";

:host {
  .advertisement-btns {
    display: flex;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border-radius: 2px;
      span {
        line-height: 2.667rem;
      }
    }

    &__icon {
      @include advertisement-icon-size;
      margin: 0 0.833rem 0 0;
    }
  }

  .bet-button {
    margin-right: 8px;
  }
}
