<mat-tab-group
  mat-stretch-tabs
  animationDuration="0ms"
  color="accent"
  class="account-tabs"
  (selectedTabChange)="onSelectMyAdvertisementTab($event)"
  [selectedIndex]="findMyAdvertisementTabTitle()"
>
  <mat-tab
    *ngFor="let myAdvertisementsTab of myAdvertisementsTabs"
    [label]="myAdvertisementsTab"
  >
    <ng-container
      *ngIf="
        myAdvertisementsRequest?.advertisements?.length;
        else emptyMyAdvertisements
      "
    >
      <app-advertisements-list
        class="my-advertisements-list"
        [advertisementsRequest]="myAdvertisementsRequest"
        [advertisementsLoadingStatus]="myAdvertisementsLoadingStatus"
        [user]="user"
        [userRole]="userRole"
      >
        <ng-template #actionButtons let-advertisement>
          <app-my-advertisements-buttons
            *ngIf="advertisement.isActive && advertisement.userBets.length"
            class="advertisement-wrap__btns my-advertisements-btn"
            [advertisement]="advertisement"
            (confirmDeal)="onConfirmDeal(advertisement)"
          ></app-my-advertisements-buttons>
        </ng-template>
      </app-advertisements-list>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #emptyMyAdvertisements>
  <div class="empty-advertisement">
    <p>You don't have advertisements</p>
  </div>
</ng-template>
