$main-background-color: #f9f9f9;
$main-text-color: #000000;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-white: #ffffff;

$font-size-small: small;
$font-size-medium: medium;
$font-size-large: large;
$font-size-xl: x-large;
$font-size-xxl: xx-large;
