<header class="main-header">
  <div class="container main-header-content">
    <div class="points-container-header" (click)="goToMainPage()">
      <img class="logo-img" src="../../../../assets/logo.svg" alt="" />
      <p class="logo-name">AGROEX</p>
    </div>
    <div class="account-container-header">
      <ng-container *ngIf="userRole === userRoles.Guest; else loggedUser">
        <div class="account-container-header" (click)="onLogin()">
          <p class="menu-items">Log in</p>
          <mat-icon class="img-in-header icon-for-guest">login</mat-icon>
        </div>
      </ng-container>
      <ng-template #loggedUser>
        <button mat-raised-button class="add-advertisement-button">
          <mat-icon class="add-advertisement-button-container"
            >add
            <p>AdvertisementRequest</p></mat-icon
          >
        </button>
        <div
          class="account-container-header"
          (click)="userNavigationPanel.open()"
        >
          <img
            *ngIf="userRole === userRoles.User"
            class="img-in-header account-img"
            alt=""
            [src]="userRoleConfig[userRole].src"
          />
          <mat-icon
            *ngIf="userRole === userRoles.User"
            class="img-in-header my-account-vector"
          >
            expand_more
          </mat-icon>
        </div>
        <mat-select
          #userNavigationPanel
          class="my-account-select"
          panelClass="mat-select-unset-height"
          (valueChange)="navigateToUserOption($event, userNavigationPanel)"
        >
          <mat-option
            *ngFor="let option of userPanelOption"
            [value]="option"
            [routerLink]="option.url"
          >
            {{ option.title }}
          </mat-option>
        </mat-select>
      </ng-template>
    </div>
  </div>
</header>
