@import "../../../styles/general-styles";

:host {
  $bg-color-user-icon: #f87e25;
  $bg-color-moderator-img: #368ACE;

  .main-header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: $header-height;
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 $offset-xsmall $offset-normal rgba(0, 0, 0, 0.08);

    &__menu {
      &-user {
        font-size: $font-size-normal;
        line-height: 2rem;
        font-weight: 500;
        color: $primary-color;
      }
    }

    &__add {
      &-ads {
        color: $color-white;
        background: $color-tradewind;
        border-radius: 0.125rem;
        border: 0.063rem solid $color-tradewind;
        font-size: 1.5rem;
        line-height: 4rem;
        min-width: 16rem;
        .update {
          margin-right: 1rem;
        }
        @media only screen and (max-width: $small-medium-screen-min-width) {
          margin-left: 0.5rem;
        }
      }
      &-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        font-size: 2rem;
      }
    }

    &__moderator {
      &_bg {
        background-color: $bg-color-moderator-img;
        width: 4rem;
        height: 4rem;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_img {
        color: $color-white;
        width: 2rem;
      }
    }

    &__account {
      &-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 3rem;
        p {
          margin: 0;
          font-size: $font-size-medium;
        }
        .icon-for-guest {
          margin-left: $offset-normal;
          color: $header-login-icon-color;
        }
        @media only screen and (max-width: $small-medium-screen-min-width) {
          margin-left: 0rem;
        }
      }
      &-icon {
        background-color: $bg-color-user-icon;
        color: $color-white;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        p {
          font-size: $font-size-large;
        }
      }
    }

    &__notifications {
      margin-left: 4rem;
      &-bell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
      }
      &-icon {
        position: relative;
        width: auto;
        height: auto;
        font-size: 2.4rem;
        &.with-dot:before {
          content: "";
          display: block;
          position: absolute;
          top: -0.4rem;
          right: -0.4rem;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          background-color: $color-error;
        }
      }
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        margin-left: 2rem;
      }
      @media only screen and (max-width: $small-screen-min-width) {
        margin-left: 0rem;
      }
    }
  }

  .main-header-content {
    display: flex;
    justify-content: space-between;
  }

  .points-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .logo-name {
    width: 6rem;
    height: 2rem;
    font-style: normal;
    font-size: $font-size-medium;
    color: $header-logo-color;
    margin: 0 0 0 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
  }

  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .account-container-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
