<header class="main-header">
  <div class="container main-header-content">
    <div class="points-container-header" (click)="goToMainPage()">
      <img class="logo-img" src="../../../../assets/logo.svg" alt="" />
      <p class="logo-name">AGROEX</p>
    </div>
    <div class="account-container-header">
      <ng-container *ngIf="this.userCurrentRole === userRoles.Guest">
        <div class="main-header__account-btn" (click)="onLogin()">
          <p class="menu-items">Log in</p>
          <mat-icon class="icon-for-guest">login</mat-icon>
        </div>
      </ng-container>

      <ng-container *ngIf="this.userCurrentRole === userRoles.User">
        <button
          mat-raised-button
          class="main-header__add-ads"
          (click)="goToCreateAdvertisement()"
        >
          <mat-icon class="main-header__add-icon">add</mat-icon>
          <span>Advertisement</span>
        </button>
        <div class="main-header__notifications">
          <div
            class="main-header__notifications-bell"
            [matMenuTriggerFor]="notifications"
          >
            <mat-icon
              class="main-header__notifications-icon"
              [ngClass]="{ 'with-dot': unreadNotification()?.length }">notifications_none</mat-icon>
          </div>
          <mat-menu
            class="main-header__menu notifications"
            #notifications="matMenu"
            xPosition="before">
            <ng-container *ngIf="userNotification()?.length; else noMessage">
              <div mat-menu-item
                   *ngFor="let message of userNotification()"
                   [ngClass]="{'visited': message.data?.status === notificationsStatus.Visited}"
                   [routerLink]="message.data?.linkTo ? ['/account'] : ['']"
                   (click)="onClickNotification(message)">
                <ng-container [ngSwitch]="message.data?.type">
                  <mat-icon *ngSwitchCase="notificationsType.Confirmation"
                            class="notification__icon"
                            svgIcon="currency-icon"></mat-icon>
                  <mat-icon *ngSwitchCase="notificationsType.Purchase"
                            class="notification__icon"
                            svgIcon="currency-icon"></mat-icon>
                  <mat-icon *ngSwitchCase="notificationsType.NewBet"
                            class="notification__icon"
                            svgIcon="auction-icon"></mat-icon>
                  <mat-icon *ngSwitchCase="notificationsType.ModerationApproved"
                            class="notification__icon"
                            svgIcon="moderator-icon"></mat-icon>
                  <mat-icon *ngSwitchCase="notificationsType.ModerationRejected"
                            class="notification__icon alert"
                            svgIcon="moderator-icon"></mat-icon>
                  <mat-icon *ngSwitchDefault
                            class="notification__icon alert"
                            svgIcon="alert-icon"></mat-icon>
                </ng-container>
                <div class="notification__body">
                  <span class="title">{{ message.notification?.title }}</span>
                  <p class="content">{{ message.notification?.body }}</p>
                </div>
              </div>
            </ng-container>
            <ng-template #noMessage>
              <div class="no-message">
                <p>You don't have messages</p>
              </div>
            </ng-template>
          </mat-menu>
        </div>
        <div class="main-header__account-btn" [matMenuTriggerFor]="userMenu">
          <div class="main-header__account-icon">
            <p>{{ getFirstSymbolUserName?.toUpperCase() }}</p>
          </div>
        </div>
        <mat-menu
          class="main-header__menu"
          panelClass="mat-select-unset-height"
          #userMenu="matMenu"
          xPosition="before"
        >
          <p class="main-header__menu-user">
            {{ this.user?.username | titlecase }}
          </p>
          <button
            mat-menu-item
            *ngFor="let option of userPanelOption"
            [value]="option"
            [routerLink]="option.url"
            (click)="onSelectPage(option.id)"
          >
            <mat-icon
              svgIcon="{{ option.icon }}"
              class="main-header__menu-icon"
            ></mat-icon>
            {{ option.title }}
          </button>
          <button mat-menu-item [routerLink]="" (click)="onLogout()">
            <mat-icon
              svgIcon="logout-icon"
              class="main-header__menu-icon"
            ></mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="this.userCurrentRole === userRoles.Moderator">

        <ng-container *ngIf="moderationPage; else notModerationPage">
          <button
          mat-raised-button
          class="main-header__add-ads"
          (click)="onClickreloadModerationPage()"
          >
            <mat-icon class="update">sync</mat-icon>
            <span>Update Advertisement</span>
          </button>
        </ng-container>

        <ng-template #notModerationPage>
          <button
          mat-raised-button
          class="main-header__add-ads"
          (click)="goToModerateAdvertisement()"
        >
            <span>Check Advertisement</span>
          </button>
        </ng-template>
        <div class="main-header__account-btn" [matMenuTriggerFor]="userMenu">
          <div class="main-header__moderator_bg">
            <img
              class="main-header__moderator_img"
              alt=""
              [src]="userRoleConfig[this.userCurrentRole].src"
            />
          </div>
        </div>
        <mat-menu
          class="main-header__menu"
          panelClass="mat-select-unset-height"
          #userMenu="matMenu"
          xPosition="before"
        >
          <p class="main-header__menu-user">
            {{ this.user?.username | titlecase }}
          </p>
          <button
            mat-menu-item
            *ngFor="let option of userPanelOption"
            [value]="option"
            [routerLink]="option.url"
            (click)="onSelectPage(option.id)"
          >
            <mat-icon
              svgIcon="{{ option.icon }}"
              class="main-header__menu-icon"
            ></mat-icon>
            {{ option.title }}
          </button>
          <button mat-menu-item [routerLink]="" (click)="onLogout()">
            <mat-icon
              svgIcon="logout-icon"
              class="main-header__menu-icon"
            ></mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</header>
