<div *ngIf="message;">
  <!--  <h1>{{ message.notification?.title }}</h1>-->
  <h2>{{ message.notification?.body }}</h2>
</div>

<div *ngIf="!message;">
  No Message Arrived
</div>


<header class="main-header">
  <div class="container main-header-content">
    <div class="points-container-header" (click)="goToMainPage()">
      <img class="logo-img" src="../../../../assets/logo.svg" alt=""/>
      <p class="logo-name">AGROEX</p>
    </div>
    <div class="account-container-header">
      <ng-container *ngIf="this.userCurrentRole === userRoles.Guest">
        <div class="main-header__account-btn" (click)="onLogin()">
          <p class="menu-items">Log in</p>
          <mat-icon class="icon-for-guest">login</mat-icon>
        </div>
      </ng-container>

      <ng-container *ngIf="this.userCurrentRole === userRoles.User">
        <button
          mat-raised-button
          class="main-header__add-ads"
          (click)="goToCreateAdvertisement()"
        >
          <mat-icon class="main-header__add-icon">add</mat-icon>
          <span>Advertisement</span>
        </button>
        <div class="main-header__notifications">
          <div
            class="main-header__notifications-bell"
            [matMenuTriggerFor]="notifications">
            <mat-icon
              class="main-header__notifications-icon"
              [ngClass]="{ 'with-dot': true }">notifications_none</mat-icon>
          </div>
          <mat-menu
            class="main-header__menu"
            #notifications="matMenu"
            xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div
          class="main-header__account-btn"
          [matMenuTriggerFor]="userMenu">
          <img
            *ngIf="this.userCurrentRole === userRoles.User"
            class="main-header__account-img"
            alt=""
            [src]="userRoleConfig[this.userCurrentRole].src"/>
        </div>
        <mat-menu
          class="main-header__menu"
          panelClass="mat-select-unset-height"
          #userMenu="matMenu"
          xPosition="before">
          <p class="main-header__menu-user">{{this.user?.username | titlecase}}</p>
          <button mat-menu-item *ngFor="let option of userPanelOption"
                  [value]="option"
                  [routerLink]="option.url"
                  (click)="onSelectPage(option)">
            <mat-icon svgIcon="{{option.icon}}" class="main-header__menu-icon"></mat-icon>
            {{ option.title }}
          </button>
          <button mat-menu-item
                  [routerLink]=""
                  (click)="onLogout()">
            <mat-icon svgIcon="logout-icon" class="main-header__menu-icon"></mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="this.userCurrentRole === userRoles.Moderator">
        <button
          mat-raised-button
          class="main-header__add-ads"
          (click)="goToModerateAdvertisement()"
        >
          <span>Check Advertisement</span>
        </button>
        <div
          class="main-header__account-btn"
          [matMenuTriggerFor]="userMenu">
          <img
            class="main-header__account-img"
            alt=""
            [src]="userRoleConfig[this.userCurrentRole].src"/>
        </div>
        <mat-menu
          class="main-header__menu"
          panelClass="mat-select-unset-height"
          #userMenu="matMenu"
          xPosition="before">
          <p class="main-header__menu-user">{{this.user?.username | titlecase}}</p>
          <button mat-menu-item *ngFor="let option of userPanelOption"
                  [value]="option"
                  [routerLink]="option.url"
                  (click)="onSelectPage(option)">
            <mat-icon svgIcon="{{option.icon}}" class="main-header__menu-icon"></mat-icon>
            {{ option.title }}
          </button>
          <button mat-menu-item
                  [routerLink]=""
                  (click)="onLogout()">
            <mat-icon svgIcon="logout-icon" class="main-header__menu-icon"></mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</header>
