<ng-container
  *ngIf="
  bettingRequest()?.advertisements?.length;
    else emptyMyBettings
  "
>
  <div class="advertisement-list">
    <div class="container">
      <app-advertisements-list
        [showOwnerFlag]="showOwnerFlag"
        [user]="user"
        [advertisementsRequest]="bettingRequest()"
        [advertisementsLoadingStatus]="myBettingsLoadingStatus"
      >
        <ng-template #actionButtons let-advertisement>
          <app-advertisements-list-buttons
            class="advertisement-wrap__btns"
            [user]="user"
            [advertisement]="advertisement"
            (setBet)="onSetBet($event)"
            (setBuy)="onSetBuy($event)"
          >
          </app-advertisements-list-buttons>
        </ng-template>
      </app-advertisements-list>
    </div>
  </div>
</ng-container>

<ng-template #emptyMyBettings>
  <div class="empty-advertisement">
    <p>You don't have bettings</p>
  </div>
</ng-template>