@import "../../../styles/general-styles.scss";

:host {
  .buttons-position-in-modal {
    float: right;
  }

  .cancel-policy-button {
    color: $color-tradewind;
    background: $color-white;
  }
}
