<h2 mat-dialog-title>AGROEX Privacy policy</h2>
<mat-dialog-content class="mat-typography">
  <h3>When this policy applies</h3>
  <p>
    This Privacy Policy applies to all of the services offered by Google LLC and
    its affiliates, including YouTube, Android, and services offered on
    third-party sites, such as advertising services. This Privacy Policy doesn’t
    apply to services that have separate privacy policies that do not
    incorporate this Privacy Policy.
  </p>
</mat-dialog-content>
<section class="example-section">
  <mat-checkbox class="example-margin">I am agree</mat-checkbox>
</section>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Continue registration
  </button>
</mat-dialog-actions>
