<h2 mat-dialog-title>AGROEX Privacy policy</h2>
<mat-dialog-content>
  <h3>When this policy applies</h3>
  <p>
    This Privacy Policy applies to all of the services offered by Google LLC and
    its affiliates, including YouTube, Android, and services offered on
    third-party sites, such as advertising services. This Privacy Policy doesn’t
    apply to services that have separate privacy policies that do not
    incorporate this Privacy Policy.
  </p>
</mat-dialog-content>
<mat-dialog-actions class="btn-modal-position">
  <button mat-raised-button class="btn-cancel" mat-dialog-close="">Cancel</button>
  <button mat-raised-button class="btn-accept" [mat-dialog-close]="true" >
    Accept policy
  </button>
</mat-dialog-actions>
