<div class="advertisement-title">
  <div class="ad-title-wrap-media-only">
    <span class="title">{{ advertisement.title }}</span>
    <span class="{{getModerationFlagConfig.style}}">{{getModerationFlagConfig.flag}}</span>
    <span
      class="ad-user-flag"
      *ngIf="advertisement.author.id === user?.id && showOwnerFlag"
    >
      (your advertisement)</span
    >
  </div>
  <div class="create-id-container">
    <div class="advertisement-created" *ngIf="advertisement.moderationStatus === moderationStatus.Approved">
      <mat-icon class="advertisement-created__icon">access_time</mat-icon>
      <span>{{ advertisement.createAt | availableDateFormat: "days":3 }}</span>
    </div>
    <span class="id">№{{ advertisement.id }}</span>
  </div>
</div>
