@import "../../../../../styles/general-styles";

:host {
  $border-color-rejected: #d72c00;

  $bg-color-timer: #f87e25;
  $bg-color-create: #eef7ff;
  $bg-color-on-moderation: #eef7ff;

  $color-create: #2978b8;
  $color-on-moderation: #368ace;

  .advertisement-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .ad-title-wrap-media-only {
      display: flex;
      flex-direction: row;
      @media only screen and (min-width: $medium-x-screen-min-width) and (max-width: $medium-xl-screen-min-width) {
        flex-direction: column;
      }
    }
    .title {
      font-size: $font-size-medium;
      line-height: 2.333rem;
      font-weight: 500;
      color: $primary-color;
    }
    .ad-user-flag {
      align-self: center;
      font-size: $font-size-xsmall;
      color: $color-copy;
      margin-left: $offset-xsmall;
    }
    .moderation-flag-rejected {
      align-self: center;
      margin: 0 0 0 $offset-medium;
      padding: 0 $offset-normal;
      border-radius: 1.25rem;
      border: 1px solid $border-color-rejected;
      background-color: $bg-color-error-toast;
      color: $border-color-error-toast;
      @media only screen and (min-width: $medium-x-screen-min-width) and (max-width: $medium-xl-screen-min-width) {
        margin: $offset-xsmall 0;
      }
    }
    .moderation-flag-on-moderation {
      align-self: center;
      margin: 0 0 0 $offset-medium;
      padding: 0 $offset-normal;
      border-radius: 1.25rem;
      border: 1px solid $color-on-moderation;
      background-color: $bg-color-on-moderation;
      color: $color-on-moderation;
      @media only screen and (min-width: $medium-x-screen-min-width) and (max-width: $medium-xl-screen-min-width) {
        margin: $offset-xsmall 0;
      }
    }
    .desc {
      font-size: $font-size-medium;
      margin: $offset-small;
    }
    .id {
      font-size: $font-size-xsmall;
      font-weight: 400;
    }

    .desc,
    .id {
      color: $color-copy;
    }
  }

  .advertisement-timer,
  .advertisement-created {
    display: flex;
    align-items: center;
    padding: 0 0.667rem;
    border-radius: 0.333rem;
    span {
      line-height: 2.333rem;
    }
    &__icon {
      @include advertisement-icon-size;
      font-size: 1.4rem;
      margin: 0 0.5rem 0 0;
    }
  }

  .advertisement-timer {
    background-color: $bg-color-timer;
    color: $color-white;
  }

  .advertisement-created {
    background-color: $bg-color-create;
    color: $color-create;
    margin-right: 0.8rem;
  }

  .create-id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
  }

  @include advertisement-disabled
}
