<app-header [user]="user" (logout)="onLogout()"></app-header>
<app-breadcrumbs
  [advertisement]="advertisement!.advertisement"
></app-breadcrumbs>
<ng-container *ngIf="advertisementLoadingStatus?.loaded; else notLoaded">
  <div class="container">
    <div class="ad-card-container">
      <div class="ad-card-container-without-map">
        <div class="ad-card-image-container">
          <img
            class="ad-card-image"
            src="{{ advertisement?.advertisement?.img }}"
            alt="apple"
          />
        </div>
        <div class="ad-card-info">
          <app-advertisement-title
            [advertisement]="advertisement!.advertisement"
          ></app-advertisement-title>

          <app-advertisement-price
            [advertisement]="advertisement!.advertisement"
          ></app-advertisement-price>

          <app-advertisement-buttons
            class="buttons-container"
          ></app-advertisement-buttons>

          <div class="ad-card-discription discription-container">
            <div class="ad-card-discription_string">
              <p class="ad-params">Variety</p>
              <p class="ad-params-options">-</p>
            </div>
            <hr/>
            <div class="ad-card-discription_string">
              <p class="ad-params">Quantity</p>
              <p class="ad-params-options">
                {{ advertisement?.advertisement?.quantity }}
                {{ advertisement?.advertisement?.unit }}
              </p>
            </div>
            <hr/>
            <div class="ad-card-discription_string">
              <p class="ad-params">Size</p>
              <p class="ad-params-options">-</p>
            </div>
            <hr/>
            <div class="ad-card-discription_string">
              <p class="ad-params">Packaging</p>
              <p class="ad-params-options">-</p>
            </div>
            <hr/>
            <div class="ad-card-discription_string">
              <p class="ad-params">Location</p>
              <div class="location-container">
                <mat-icon>map</mat-icon>
                <p class="ad-params-options">
                  {{ advertisement?.advertisement?.country }},
                  {{ advertisement?.advertisement?.location }}
                </p>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </div>
      <div class="hide-map-container" (click)="toggleShow()">
        <mat-icon class="show-map-icon">{{ isShownMap.isShownIcon }}</mat-icon>
        <p class="show-map-text">{{ isShownMap.isShownText }}</p>
      </div>
      <div [hidden]="isShownMap.isShown" class="map-container map-slide-in">
        <img class="map-img" src="../../../assets/apples.jpg" alt="map"/>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notLoaded>
  <ngx-spinner
    *ngIf="advertisementLoadingStatus?.loading; else advertisementError"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
  <ng-template #advertisementError>
    <p>{{ advertisementLoadingStatus?.error?.statusText }}</p>
  </ng-template>
</ng-template>
