<app-header
  [user]="user"
  [userRole]="userRole"
  [notificationMessage]="notificationMessage"
  (logout)="onLogout()"
  (addNotificationMessage)="onAddNotificationMessage($event)"
  (changeNotificationStatus)="onClickNotification($event)"
  (selectTab)="onSelectTab($event)"
></app-header>
<app-breadcrumbs
  *ngIf="advertisement"
  [advertisement]="advertisement.advertisement"
></app-breadcrumbs>

<ng-container *ngIf="advertisementLoadingStatus?.loaded; else notLoaded">
  <app-advertisement-filling-page
    [user]="user"
    [advertisement]="advertisement"
    [map]="map"
    (setBet)="onSetBet($event)"
    (setBuy)="onSetBuy($event)"
  >
  </app-advertisement-filling-page>
</ng-container>

<ng-template #notLoaded>
  <ngx-spinner
    *ngIf="advertisementLoadingStatus?.loading; else advertisementError"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate"
    [fullScreen]="true"
  >
    <div style="color: white">Loading...</div>
  </ngx-spinner>
  <ng-template #advertisementError>
    <p>{{ advertisementLoadingStatus?.error?.statusText }}</p>
  </ng-template>
</ng-template>
