<ng-container *ngIf="myOrdersRequest?.advertisements?.length; else emptyOrders">
  <div class="orders-list">

    <div class="order__item" *ngFor="let advertisement of myOrdersRequest?.advertisements">
      <div class="order__img">
        <img [src]="advertisement.img" alt="image">
      </div>
      <div class="order__desc">
        <div class="order__title">
          <p class="title">{{advertisement.title}}</p>
          <p class="status">Confirm</p>
        </div>
        <div class="order__price">
          <p class="label">
            <mat-icon svgIcon="currency-icon" class="order__svg"></mat-icon>
            <span>Total price</span>
          </p>
          <p class="value">$12,099.00</p>
        </div>
        <div class="order__payment">
          <mat-icon svgIcon="card-icon" class="order__svg"></mat-icon>
          <p>VISA</p>
          <p>3259</p>
          <p>12/25</p>
        </div>
        <div class="order__quantity">
          <mat-icon svgIcon="quantity-icon" class="order__svg"></mat-icon>
          <p>idared, 10 ton, 70+, bins</p>
        </div>
        <div class="order__locations">
          <mat-icon svgIcon="map-pointer-icon" class="order__svg"></mat-icon>
          <p>Uzbekistan, Bukhara region</p>
          <mat-icon class="order__svg order__svg-to-location">arrow_forward</mat-icon>
          <mat-icon svgIcon="map-pointer-icon" class="order__svg"></mat-icon>
          <p>Tashkent City, 27 Foziltepa kochasi</p>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #emptyOrders>
  <div class="empty-advertisement">
    <p>No Orders</p>
  </div>
</ng-template>
