<ng-container *ngIf="myOrdersLoadingStatus?.loaded; else notLoaded">
  <ng-container *ngIf="myOrdersRequest?.length; else emptyOrders">
    <div class="orders-list">
      <div class="order__item" *ngFor="let advertisement of myOrdersRequest">
        <div class="order__img">
          <img [src]="advertisement.img" alt="image" />
        </div>
        <div class="order__desc">
          <div class="order__title">
            <div>
              <span class="title">{{ advertisement.title }}</span>
              <span
                class="ad-user-flag"
                *ngIf="advertisement.author.id === user?.id"
              >
                (your advertisement)</span
              >
            </div>
            <p class="status">
              {{ advertisement.orderInfo.dealStatus | titlecase }}
            </p>
          </div>
          <span class="order__id">№{{ advertisement.id }}</span>
          <div class="order__price">
            <p class="label">
              <mat-icon svgIcon="currency-icon" class="order__svg"></mat-icon>
              <span>Total price</span>
            </p>
            <p class="value">
              {{
                advertisement.orderInfo.totalPrice
                  | currency: advertisement.currency:"symbol-narrow":"0.2":"fr"
              }}
            </p>
          </div>
          <div class="order__payment">
            <mat-icon svgIcon="card-icon" class="order__svg"></mat-icon>
            <p>VISA</p>
            <p>3259</p>
            <p>12/25</p>
          </div>
          <div class="order__quantity">
            <mat-icon svgIcon="quantity-icon" class="order__svg"></mat-icon>
            <p>{{ advertisement.quantity }} {{ advertisement.unit }}</p>
          </div>
          <div class="order__locations">
            <p class="location-from">
              <mat-icon
                svgIcon="map-pointer-icon"
                class="order__svg"
              ></mat-icon>
              <span
                >{{ advertisement.location }}, {{ advertisement.country }}</span
              >
            </p>
            <mat-icon class="order__svg order__svg-to-location"
              >arrow_forward
            </mat-icon>
            <p class="location-to">
              <mat-icon
                svgIcon="map-pointer-icon"
                class="order__svg"
              ></mat-icon>
              Tashkent City, 27 Foziltepa kochasi
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyOrders>
  <div class="empty-advertisement">
    <p>No Orders</p>
  </div>
</ng-template>

<ng-template #notLoaded>
  <ngx-spinner
    *ngIf="myOrdersLoadingStatus?.loading; else myOrdersError"
    bdColor="rgba(0, 0, 0, 0)"
    size="medium"
    color="#38999B"
    type="ball-clip-rotate"
    [fullScreen]="false"
  >
  </ngx-spinner>
  <ng-template #myOrdersError>
    <p>{{ myOrdersLoadingStatus?.error?.statusText }}</p>
  </ng-template>
</ng-template>
