<div class="adv-wrap">
  <div class="adv-wrap__img">
    <img src="{{advertisement.img}}" alt="apple">
  </div>
  <div class="adv-wrap__desc">
    <app-advertisement-title [advertisement]="advertisement"></app-advertisement-title>
    <div class="adv-wrap__location">
      <mat-icon svgIcon="map-pointer-icon" class="adv-pointer-icon"></mat-icon>
      <p>OLAM FARM DORIXONA № 14 - Buxoro, O'zbekiston</p>
    </div>
  </div>
  <div class="adv-wrap__actions">
    <app-advertisement-price class="adv-wrap__price" [advertisement]="advertisement"></app-advertisement-price>
    <app-advertisement-buttons class="adv-wrap__btns"></app-advertisement-buttons>
  </div>
</div>
