@import "../../styles/general-styles.scss";

:host {
  .form {
    padding: 36px 40px 40px;
    background: $color-white;

    &__advertisementTitle {
      font-size: 2rem;
      color: $primary-color;
      font-weight: 500;
    }

    &__wrap {
      margin-top: 36px;
    }

    &__item {
      display: flex;

      & + .form__item {
        margin-top: 24px;
      }
    }

    &__field {
      width: 50%;
    }

    &__title {
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 8px;
    }

    &__input {
      width: 100%;
    }

    &__desc {
      margin-left: 1.333rem;

      p {
        font-size: 16px;
      }
    }
  }
}
