<app-header [user]="user" (logout)="onLogout()"></app-header>
<div class="container">
  <form [formGroup]="advertisementForm" (ngSubmit)="submitForm()" class="form">
    <div class="form__advertisementTitle">New advertisement</div>
    <div class="form__wrap">
      <div class="form__item">
        <div class="form__field">
          <div class="form__title">Product images</div>
          <div class="form__dropzone" ngx-dropzone (change)="onSelect($event)">
            <div class="form__dropzone-wrap">
              <div>
                <span class="form__dropzone-file-text">Choose a file</span> <span
                class="form__dropzone-drop-text"> or drag and drop it here!</span>
              </div>
              <div class="form__dropzone-footnote">Acceptable formats: jpeg, png. Maximum
                size: 10 MB.
              </div>
            </div>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
            </ngx-dropzone-image-preview>
          </div>
        </div>
      </div>
      <div class="form__item">
        <div class="form__field">
          <div class="form__title">Title</div>
          <mat-form-field class="form__input">
            <mat-label>Enter a title</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter a title"
              formControlName="title"
            />
          </mat-form-field>
        </div>
        <div class="form__desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium, illum.
          </p>
        </div>
      </div>
      <div class="form__item">
        <div class="form__field">
          <div class="form__title">Description</div>
          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Describe the product in detail</mat-label>
            <textarea
              matInput
              #input
              maxlength="4000"
              placeholder="Describe the product in detail"
              formControlName="description"
            ></textarea>
            <mat-hint align="start"
            >{{ input.value?.length || 0 }} of 4000 characters
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="form__dropzone" ngx-dropzone (change)="onSelect($event)">
        <div class="form__dropzone-wrap">
          <div>
            <span class="form__dropzone-file-text">Choose a file</span> <span
            class="form__dropzone-drop-text"> or drag and drop it here!</span>
          </div>
          <div class="form__dropzone-footnote">Acceptable formats: jpeg, png. Maximum
            size: 10 MB.
          </div>
        </div>
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
          [removable]="true"
          (removed)="onRemove(f)"
        >
        </ngx-dropzone-image-preview>
      </div>
    </div>
    <div class="form__btns">
      <div class="form__btns-wrap">
        <button mat-button [disabled]="advertisementForm.invalid" type="submit">
          Place an advertisement
        </button>
      </div>
      <p class="form__footnote">
        This ad will be placed on the site after review by a moderator and will
        be valid for the next 30 days.
      </p>
    </div>
  </form>
</div>

<!--<div class="form">-->
<!--  <div class="form__item">-->
<!--    -&#45;&#45; 50%-->
<!--    <div class="form__field">-->
<!--      <label class="form__title"> title </label>-->
<!--      <div class="form__input">-->
<!--        <input type="text"/>-->
<!--      </div>-->
<!--    </div>-->
<!--    -&ndash;&gt; левый-->
<!--    <div class="form__desc">-->
<!--      <p></p>-->
<!--    </div>-->
<!--    -&ndash;&gt; правый-->
<!--  </div>-->
<!--</div>-->
