@import "../../styles/general-styles.scss";

:host {
  .form {
    padding: 36px 40px 40px;
    background: $color-white;

    &__advertisementTitle {
      font-size: 2rem;
      color: $primary-color;
      font-weight: 500;
    }

    &__wrap {
      margin-top: 36px;
    }

    &__input-wrap {
      display: flex;
      column-gap: 16px;

      .mat-form-field + .mat-form-field {
        margin: 0;
      }
    }

    &__dropzone {
      overflow-y: hidden;
      position: relative;

      &-file-text {
        color: $active-color;
        font-weight: 600;
        font-size: 1.2rem;
      }

      &-drop-text {
        color: $primary-color;
        font-weight: 500;
        font-size: 1.2rem;
      }

      &-footnote {
        color: $color-copy;
        font-size: 1rem;
        font-weight: 400;
      }

      &-wrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        div {
          margin-top: 8px;
        }
      }
    }

    &__item {
      display: flex;

      & + .form__item {
        margin-top: 24px;
      }
    }

    &__field {
      width: 50%;
    }

    &__title {
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 8px;
    }

    &__input {
      width: 100%;

      &.several {
        width: 50%;
      }

      &.select-small {
        width: 17.6%;
      }
    }

    &__desc {
      margin-left: 1.333rem;
      position: relative;

      &-image {
        position: absolute;
        top: 35px;
      }

      p {
        font-size: 16px;
      }
    }

    &__btns {
      width: 50%;
      margin-top: 64px;

      &-wrap {
        display: flex;
        column-gap: 16px;

        button {
          width: 50%;
        }
      }
    }

    &__footnote {
      display: block;
      font-size: 1rem;
      color: $color-copy;
      font-weight: 400;
      margin-top: 16px;
    }

    &__helper-text {
      font-size: 1rem;
      font-weight: 400;
      color: $color-copy;
      margin-top: 4px;
    }
  }
}
