<app-header [user]="user" (logout)="onLogout()"></app-header>
<div class="container">
  <form [formGroup]="advertisementForm" (ngSubmit)="submitForm()" class="form">
    <div class="form__advertisementTitle">New advertisement</div>
    <div class="form__wrap">
      <div class="form__item">
        <div class="form__field">
          <div class="form__title">Product images</div>
          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Choose a file or drag and drop it here</mat-label>
            <textarea
              matInput
              #images
              placeholder="Acceptable formats: jpeg, png. Maximum size: 10 MB."
              formControlName="file"
            ></textarea>
            <mat-hint align="start"
            >{{ images.value?.length || 0 }} of 9 images
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="form__item">
        <div class="form__field">
          <div class="form__title">Title</div>
          <mat-form-field class="form__input">
            <mat-label>Enter a title</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter a title"
              formControlName="title"
            />
          </mat-form-field>
        </div>
        <div class="form__desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium, illum.
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<!--      <div class="productImages">-->
<!--        <div class="productImages__title">Product images</div>-->
<!--        <mat-form-field class="productImages__file" appearance="fill">-->
<!--          <mat-label>Choose a file or drag and drop it here</mat-label>-->
<!--          <textarea-->
<!--            matInput-->
<!--            #images-->
<!--            placeholder="Acceptable formats: jpeg, png. Maximum size: 10 MB."-->
<!--            formControlName="file"-->
<!--          ></textarea>-->
<!--          <mat-hint align="start"-->
<!--          >{{ images.value?.length || 0 }} of 9 images-->
<!--          </mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="form_input_wrap">-->
<!--        <div class="mat_input__title">Title</div>-->
<!--        <mat-form-field>-->
<!--          <mat-label>Enter a title</mat-label>-->
<!--          <input-->
<!--            type="text"-->
<!--            matInput-->
<!--            placeholder="Enter a title"-->
<!--            formControlName="title"-->
<!--          />-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="form_input_wrap">-->
<!--        <div class="mat_input__title">Title</div>-->
<!--        <mat-form-field>-->
<!--          <mat-label>Enter a title</mat-label>-->
<!--          <input-->
<!--            type="text"-->
<!--            matInput-->
<!--            placeholder="Enter a title"-->
<!--            formControlName="title"-->
<!--          />-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <mat-form-field class="example-full-width" appearance="fill">-->
<!--        <mat-label>Leave a comment</mat-label>-->
<!--        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Describe the product in detail</mat-label>-->
<!--        <textarea-->
<!--          matInput-->
<!--          #input-->
<!--          maxlength="4000"-->
<!--          placeholder="Describe the product in detail"-->
<!--        ></textarea>-->
<!--        <mat-hint align="start"-->
<!--        >{{ input.value?.length || 0 }} of 4000 characters-->
<!--        </mat-hint>-->
<!--      </mat-form-field>-->

<!--      <button mat-button [disabled]="advertisementForm.invalid" type="submit">-->
<!--        Send-->
<!--      </button>-->

<!--<div class="form">-->
<!--  <div class="form__item">-->
<!--    -&#45;&#45; 50%-->
<!--    <div class="form__field">-->
<!--      <label class="form__title"> title </label>-->
<!--      <div class="form__input">-->
<!--        <input type="text"/>-->
<!--      </div>-->
<!--    </div>-->
<!--    -&ndash;&gt; левый-->
<!--    <div class="form__desc">-->
<!--      <p></p>-->
<!--    </div>-->
<!--    -&ndash;&gt; правый-->
<!--  </div>-->
<!--</div>-->
