<div
  class="advertisement-wrap"
  [ngClass]="{ 'with-pointer': isNavigationToAdvertisementPage }"
  (click)="openAdvertisement()"
>
  <div class="advertisement-wrap__img">
    <img src="{{ advertisement.img }}" alt="apple" />
  </div>
  <div class="advertisement-wrap__desc">
    <app-advertisement-title
      [showOwnerFlag]="showOwnerFlag"
      [user]="user"
      [advertisement]="advertisement"
      [moderationPage]="moderationPage"
    ></app-advertisement-title>
    <div class="advertisement-wrap__quantity">
      <mat-icon
        svgIcon="quantity-icon"
        class="advertisement-quantity-icon"
      ></mat-icon>
      <p>{{ advertisement.quantity }} {{ advertisement.unit }}</p>
    </div>
    <div class="advertisement-wrap__location">
      <mat-icon
        svgIcon="map-pointer-icon"
        class="advertisement-pointer-icon"
      ></mat-icon>
      <p>{{ advertisement.location }}, {{ advertisement.country }}</p>
    </div>
  </div>
  <div class="advertisement-wrap__actions">
    <app-advertisement-price
      class="advertisement-wrap__price"
      [user]="user"
      [advertisement]="advertisement"
    ></app-advertisement-price>
    <ng-content select="[buttons]"></ng-content>

    <ng-container
      *ngIf="advertisement.moderationStatus === ModerationStatus.Rejected"
    >
      <div
        class="advertisement-moderators_message advertisement-moderators_message-rejected"
      >
        <mat-icon
          class="advertisement-moderators_message-icon advertisement-moderators_message-icon-rejected"
          >error_outline</mat-icon
        >
        <div class="advertisement-moderators_message-bottom-wrap">
          <div class="advertisement-moderators_message-content">
            {{ advertisement.moderationComment }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
