@import "../../../../styles/general-styles";

:host {
  .advertisement-wrap {
    padding: $offset-xlarge 0;
    display: flex;
    column-gap: $offset-xlarge;

    &__img {
      width: 28rem;
      height: 16rem;
      @media only screen and (max-width: $medium-x-screen-min-width) {
        width: 100%;
        height: 44rem;
      }
      @media only screen and (max-width: $medium-screen-min-width) {
        width: 100%;
        height: 32rem;
      }
      @media only screen and (max-width: $medium-s-screen-min-width) {
        width: 100%;
        height: 26rem;
      }
      @media only screen and (max-width: $small-medium-screen-min-width) {
        width: 100%;
        height: 22rem;
      }
      @media only screen and (max-width: 0) {
        width: 100%;
        height: 16rem;
      }

      img {
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      @media only screen and (max-width: $medium-x-screen-min-width) {
        margin-top: $offset-xlarge;
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      width: 33rem;
      @media only screen and (max-width: $medium-x-screen-min-width) {
        width: 100%;
        margin-top: $offset-xlarge;
      }
    }

    &__quantity, 
    &__location {
      display: flex;
      align-items: center;
      .advertisement-quantity-icon,
      .advertisement-pointer-icon {
        width: 1.667rem;
        height: 1.667rem;
        margin: 0 $offset-small 0 0;
        color: #798787;
      }
      p {
        margin: 0;
        font-size: $font-size-normal;
        line-height: 2rem;
        color: $primary-color;
      }
    }
    &__quantity {
      margin: auto 0 $offset-normal;
    }
  }
}

.advertisement-wrap {
  display: flex;
  &:hover &__btns {
    display: block;
  }
  @media only screen and (max-width: $medium-x-screen-min-width) {
    flex-direction: column;
  }
}
