@import "../../../styles/general-styles";
@import "../../styles/moderation-advertisement-const";

:host {
  .advertisement-btns {
    display: flex;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      span {
        line-height: 2.7rem;
      }
    }
  }
}
