<app-header
  [user]="user"
  [userRole]="userRole"
  [notificationMessage]="notificationMessage"
  (logout)="onLogout()"
  (addNotificationMessage)="onAddNotificationMessage($event)"
  (changeNotificationStatus)="onClickNotification($event)"
  (selectTab)="onSelectTab($event)"
></app-header>
<div class="account">
  <div class="container">
    <div class="account__wrap">
      <div class="account__user">
        <p>{{ user?.username | titlecase }}</p>
      </div>
      <div
        class="account__content"
        [ngClass]="{ 'account__content-for_mobile-active': this.showSidebar }"
      >
        <app-sidebar
          class="account__sidebar"
          [ngClass]="{ 'account__sidebar-for_mobile-active': this.showSidebar }"
          [userPanelOption]="this.userPanelOption"
          [selectedTab]="this.selectedTab"
          (logout)="onLogout()"
          (selectTab)="onSelectTab($event)"
        >
        </app-sidebar>
        <div
          class="account__info"
          [ngClass]="{ 'account__info_mobile-active': !this.showSidebar }"
          [ngSwitch]="this.selectedTab"
        >
          <div class="account__info-btn_mobile_only" (click)="switchSideBar()">
            {{ tabOption() }}
          </div>
          <app-my-advertisements
            *ngSwitchCase="userPanelOptionId.MyAdvertisements"
            [myAdvertisementsRequest]="myAdvertisementsRequest"
            [myAdvertisementsLoadingStatus]="myAdvertisementsLoadingStatus"
            [user]="user"
            [userRole]="userRole"
            [selectMyAdvertisementTabTitle]="selectMyAdvertisementTabTitle"
            (dispatcher)="onDispatcher($event)"
            (confirmDeal)="onConfirmDeal($event)"
            (selectMyAdvertisementsTab)="onSelectMyAdvertisementTab($event)"
          >
          </app-my-advertisements>
          <app-my-betting
            *ngSwitchCase="userPanelOptionId.Betting"
            [myBettingsRequest]="myBettingsRequest"
            [myBettingsLoadingStatus]="myBettingsLoadingStatus"
            [user]="user"
            [selectMyBettingTabTitle]="selectMyBettingTabTitle"
            (dispatcher)="onDispatcher($event)"
            (setBet)="onSetBet($event)"
            (setBuy)="onSetBuy($event)"
            (selectMyBettingTab)="onSelectMyBettingTab($event)"
          >
          </app-my-betting>
          <app-my-orders
            *ngSwitchCase="userPanelOptionId.MyOrders"
            [user]="user"
            [myOrdersRequest]="myOrdersRequest"
            [myOrdersLoadingStatus]="myOrdersLoadingStatus"
            (dispatcher)="onDispatcher($event)"
          >
          </app-my-orders>
          <app-my-account
            *ngSwitchCase="userPanelOptionId.MyAccount"
            [user]="user"
          >
          </app-my-account>
        </div>
      </div>
    </div>
  </div>
</div>
