<app-header
  [user]="user"
  (logout)="onLogout()"
  (selectTab)="onSelectTab($event)"
></app-header>
<div class="account">
  <div class="container">
    <div class="account__wrap">
      <div class="account__user">
        <p>{{user?.username | titlecase}}</p>
      </div>
      <div class="account__content">
        <app-sidebar
          class="account__sidebar"
          [userPanelOption]="this.userPanelOption"
          [selectedTab]="this.selectedTab"
          (logout)="onLogout()"
          (selectTab)="onSelectTab($event)">
        </app-sidebar>
        <div class="account__info" [ngSwitch]="this.selectedTab">
          <!--<app-my-advertisements *ngSwitchCase=""></app-my-advertisements>
          <app-my-orders *ngSwitchCase=""></app-my-orders>-->
        </div>
      </div>
    </div>
  </div>
</div>
