@import "../../styles/general-styles";

:host {
  .account {
    &__wrap {
      background-color: $color-white;
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        overflow-x: hidden;
      }
    }

    &__info {
      max-width: calc(100% - 22.3rem);
      flex: 1;
      right: 0;

      & > * {
        display: flex;
        height: 100%;
        position: relative;
        @media only screen and (max-width: $medium-x-medium-screen-min-width) {
          height: 100%;
        }
      }
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        max-width: 100%;
      }
    }

    .account__info-btn_mobile_only {
      display: none;
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        position: relative;
        color: $primary-color;
        font-size: $font-size-large;
        cursor: pointer;
        max-width: 24rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 4.8rem;
        &:before {
          align-self: center;
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 0.8rem;
          left: 2.4rem;
          background: inherit;
          border-top: 2px solid $primary-color;
          border-left: 2px solid $primary-color;
          transform: rotate(-45deg);
        }
      }
    }

    &__user {
      padding: $offset-large 3.3rem;
      box-shadow: inset 0 -0.1rem 0 $color-button-disable;

      p {
        margin: 0;
        font-size: 2rem;
        line-height: 2.7rem;
        font-weight: 500;
        color: $primary-color;
      }
    }

    &__content {
      display: flex;
      position: relative;
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        min-height: 28rem;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      padding-top: 7.3rem;
      width: 22.3rem;
      min-width: 22.3rem;
      min-height: 50vh;
      padding-bottom: 2rem;
      box-shadow: inset -0.1rem 0 0 $color-button-disable;
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        position: absolute;
        height: 28rem;
        width: 100%;
        transition: $transition;
        left: -100%;
      }
    }

    .account__sidebar-for_mobile-active {
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        left: 0;
      }
    }

    .account__info {
      width: 100%;
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        position: relative;
        transition: $transition;
        right: -100%;
      }
    }

    .account__info_mobile-active {
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        width: 100%;
        right: 0;
        min-height: calc(100vh - 15rem);
      }
    }

    .account__content-for_mobile-active {
      @media only screen and (max-width: $medium-x-medium-screen-min-width) {
        height: calc(100vh - 15rem);
      }
    }
  }
}

::ng-deep {
  .account-tabs {
    width: 100%;
    .mat-tab-header {
      margin: 0 2rem;
    }
    @include mat-tab-styles;
  }
}
