@import "../../styles/general-styles";

:host {
  .main-header {
    width: 100%;
    height: $header-height;
    background-color: $header-color;
    margin-left: 0 0 $offset-large 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 $offset-xsmall $offset-normal rgba(0, 0, 0, 0.08);
  }

  .points-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-name {
    width: 6rem;
    height: 2rem;
    font-style: normal;
    font-size: $font-size-medium;
    color: $header-logo-color;
    margin: 0 calc(2.5 * #{$offset-large}) 0 0;
    font-weight: bold;
  }

  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 $offset-normal 0 calc(2.5 * #{$offset-large});
  }

  .menu-items {
    cursor: pointer;
    margin: 0;
    font-size: $font-size-medium;
  }

  .img-in-header {
    margin: 0 $offset-large;
    vertical-align: middle;
    cursor: pointer;
  }

  .account-img {
    width: 3.5rem;
    margin-right: 0;
  }

  .login-img {
    width: 1.5rem;
    margin-right: calc(2.5 * #{$offset-xlarge});
    padding: 0;
  }

  .account-container-header {
    display: flex;
    align-items: center;
  }

  .my-account-select {
    width: 0;
    height: 100%;
    visibility: hidden;
    right: 0;
    position: fixed;
  }

  .my-account-vector {
    margin-right: calc(2.5 * #{$offset-xlarge});
    margin-left: $offset-normal;
  }
}
