@import '../../styles/variables/variables.scss';

:host {

    .main-header {
        max-width: 100%;
        width: auto;
        height: auto;
        background-color: $color-success;
        margin: 0;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .logo-name {
        margin: 0px 50px 0px 0px;
    }

    .logo-img {
        width: 30px;
        height: 30px;
        margin: 0 0 0 50px;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-items p {
        margin: 0 20px;
        font-size: $font-size-medium;
    }

    .account-in-header {
        right: 0px;
        width: 40px;
        height: 40px;
        margin: 0 20px;
        vertical-align: middle;
    }

    .div-account {
        right: 10px;
        float: right;
        position: absolute;
    }

}