<header class="main-header">
  <div class="points-container-header">
    <img class="logo-img" src="../../../assets/logo.svg" alt="" />
    <p class="logo-name">AGROEX</p>
    <div class="menu-items"></div>
  </div>
  <div class="account-container-header menu-items">
    <p
      *ngIf="userRole === userRoles.Guest; else loggedUser"
      (click)="onLogin()"
    >
      Log in
    </p>
    <img
      *ngIf="userRole === userRoles.Guest"
      class="img-in-header login-img"
      alt=""
      src="./assets/guest.svg"
      (click)="onLogin()"
    />

    <ng-template #loggedUser>
      <button class="button-add-advertisement">Add advertisement</button>
      <img
        *ngIf="userRole === userRoles.User"
        class="img-in-header account-img"
        alt=""
        [src]="userRoleConfig[userRole].src"
        (click)="userNavigationPanel.open()"
      />

      <mat-icon
        *ngIf="userRole === userRoles.User"
        class="img-in-header my-account-vector"
        (click)="userNavigationPanel.open()"
        >expand_more</mat-icon
      >

      <mat-form-field class="my-account-select" appearance="fill">
        <mat-label>My account</mat-label>
        <mat-select
          panelClass="mat-select-unset-height"
          class
          #userNavigationPanel
        >
          <mat-option *ngFor="let option of userPanelOption"
          (click)="goLink(this.option.url)">
            {{ option.title }}
          </mat-option>
          <mat-option (click)="onLogout()"> Log out</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
</header>
