<div class="advertisement-wrap__btns">
  <div class="advertisement-btns">
    <div class="advertisement-btn">
      <button mat-button class="btn_red" (click)="onRejectClick()">
        <mat-icon class="close">close</mat-icon>
        <span>Reject</span>
      </button>
    </div>
    <div class="advertisement-btn">
      <button mat-button class="btn_green" (click)="onApproveClick()">
        <mat-icon class="done">done</mat-icon>
        <span>Approve</span>
      </button>
    </div>
  </div>
</div>
