@import "@angular/material/theming";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "./theme-styles";
@import "../app/styles/reusable_components/reusable_components.scss";
@import "../app/styles/general-styles.scss";

@import "~mapbox-gl/dist/mapbox-gl.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "IBM Plex Sans", serif;
  line-height: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  height: 100%;
  margin: 0;
  background-color: $main-background-color;
}

.container {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
}

.bet-modal {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1rem 0 1rem 0;
  }
  .mat-form-field-label-wrapper {
    top: -0.8em;
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0;
    font-size: $font-size-normal;
    color: $primary-color;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
  }
  .mat-form-field-prefix {
    margin-right: $offset-small;
  }
}

.bet-modal,
.bet-form-container {
  .mat-form-field-invalid.mat-form-field-appearance-outline
    .mat-form-field-wrapper
    .mat-form-field-subscript-wrapper {
    display: none;
  }
}

.bet-modal-container {
  .mat-dialog-container {
    padding: 0;
  }
}

.mapboxgl-ctrl {
  display: none;
}

.main-header__menu.mat-menu-panel {
  max-width: 25rem;
  width: 100vw;
  margin-top: 0.7rem;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.08),
    0 0.3rem 2rem rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  padding-bottom: 0;

  .main-header__menu-user,
  .mat-menu-item {
    padding: 0 $offset-medium;
  }

  .mat-menu-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #131314;
    &:last-child {
      border-top: 0.1rem solid $color-button-disable;
    }
  }

  .mat-menu-item .mat-icon {
    margin-right: 1rem;
  }

  .main-header__menu-user {
    margin: 0;
    font-weight: 500;
    font-size: $font-size-normal;
    line-height: 3rem;
    color: $primary-color;
    padding-bottom: 0.7rem;
    border-bottom: 0.1rem solid $color-button-disable;
  }
}

.advertisement-wrap {
  &:hover &__btns {
    display: block;
  }
  &.with-pointer:hover {
    cursor: pointer;
  }
}
