<div class="categories">
  <ng-container *ngIf="categoriesLoadingStatus?.loaded; else notLoaded">
    <div
      class="categories__item"
      *ngFor="let category of categories; let index = index"
    >
      <app-category
        class="categories__content"
        [ngClass]="{ active: category.id === activeCategory }"
        [category]="category"
        (click)="getCategoryList(category)"
      ></app-category>
    </div>
  </ng-container>
  <ng-template #notLoaded>
    <p *ngIf="categoriesLoadingStatus?.loading; else categoriesError">LOADING...</p>
    <ng-template #categoriesError>
      <p>{{ categoriesLoadingStatus?.error?.statusText }}</p>
    </ng-template>
  </ng-template>
</div>
