<div class="advertisement-price">
  <div class="advertisement-price-item">
    <ng-container *ngIf="advertisement.moderationStatus === moderationStatus.Approved">
      <div class="advertisement-price__bet">
        <span class="label">Bet</span>
        <ng-container *ngIf="advertisement.userBets.length; else noBetBlock">
        <span
          class="value"
          [ngClass]="{'advertisement-disabled': advertisement.isModerated && (advertisement.isConfirmed || !advertisement.isActive)}"
          [style]="getBetColor">
          {{advertisement.userBets![0].betValue
            | currency: advertisement.currency:"symbol-narrow":"0.2":"fr"
          }}
        </span>
          <ng-container *ngIf="unitCostBet > 0.01; else minUnitCost">
            <span class="unit-price">{{ unitCostTextBet }}</span>
          </ng-container>
        </ng-container>
        <ng-template #noBetBlock>
          <span class="no-bets">No bets</span>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <div class="advertisement-price-item">
    <div class="advertisement-price__total">
      <span class="label">Total price</span>
      <span
        class="value"
        [ngClass]="{'advertisement-disabled': advertisement.isModerated && (advertisement.isConfirmed || !advertisement.isActive)}">
        {{advertisement.price | currency: advertisement.currency:"symbol-narrow":"0.2":"fr"}}
      </span>
      <ng-container *ngIf="unitCostPrice >= 0.01; else minUnitCost">
        <span class="unit-price">{{ unitCostTextPrice }}</span>
      </ng-container>
      <ng-template #minUnitCost>
        <span class="unit-price">Less than {{ minUnitCostText }}</span>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="advertisement.userBets![0]">
  <p
    class="bet-hint"
    *ngIf="+advertisement.userBets![0].betValue + 1 >= +advertisement.price"
  >
    The maximum bet for this product has already been made.
  </p>
</div>
