@import "../styles/general-styles";

.adv-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .title {
    font-size: 1.667rem;
    line-height: 2.333rem;
    font-weight: 500;
    color: $primary-color;
  }
  .desc {
    font-size: 1.167rem;
    line-height: 1.667rem;
  }
  .create {
    font-size: 1rem;
    line-height: 1.333rem;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .title, .desc {
    letter-spacing: 0.15px;
  }

  .desc, .create {
    color: $color-copy;
    margin: $offset-small 0 0 0;
  }
}
