@import "../../../styles/general-styles.scss";
@import "../../styles/moderation-advertisement-const.scss";

:host {
  .advertisement-btns {
    display: flex;
    @include column-gap-small;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      span {
        line-height: 2.667rem;
      }
    }
  }
}
