<app-header [userRole]="userRole" [user]="user" (logout)="onLogout()"></app-header>
<div class="container moderation-container">
  <app-advertisements-list
    [user]="user"
    [advertisementsRequest]="advertisementsRequest"
    [advertisementsLoadingStatus]="advertisementsLoadingStatus"
    (moderationDecision)="onModerationDecision($event)">
    <ng-template #actionButtons let-advertisement>
      <app-moderation-advertisements-buttons
        class="advertisement-wrap__btns"
        [advertisement]="advertisement"
        (reject)="openPolicyModal($event)"
        (approve)="onApproveClick($event)"></app-moderation-advertisements-buttons>
    </ng-template>
  </app-advertisements-list>
</div>
