@import "../../../../../styles/general-styles";

:host {
  $color-unit-cost: #51acae;

  .bet-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3.333rem;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &__title {
      font-size: $font-size-large;
      line-height: 3.667rem;
      color: $color-ask;
      margin: 0 0 2rem 0;
      padding: 0;
    }

    &__content {
      margin: 0;
      padding: 0;
      max-height: 100%;
      overflow: visible;
    }

    &__field {
      width: 100%;
    }

    &__input {
      font-size: $font-size-normal;
      line-height: 1.667rem;
      color: $primary-color;
    }

    &__hint {
      font-size: $font-size-xsmall;
      line-height: 1.333rem;
      color: $color-ask;
      margin: 0.333rem 0 0;
    }

    &__actions {
      min-height: auto;
      margin: 2rem 0 0;
      padding: 0;
    }

    &__btn {
      margin: 0;
      width: 100%;
      font-size: $font-size-normal;
      line-height: 1.667rem;
      padding: $offset-normal 0;
      border: none;
    }

    &__close {
      position: absolute;
      top: 3.333rem;
      right: 3.333rem;
      cursor: pointer;
      color: $color-copy;
    }

    &__unit-cost {
      color: $color-unit-cost;
      margin: 1.5rem 0;
      font-size: $font-size-normal;
    }

    .mat-form-field-invalid + * {
      color: $color-error;
    }
  }
}
