<div class="bet-modal">
  <mat-icon class="bet-modal__close" (click)="onCloseModal()">close</mat-icon>
  <form [formGroup]="betForm">
    <h1 mat-dialog-title class="bet-modal__title">Place a bet</h1>
    <div mat-dialog-content class="bet-modal__content">
      <mat-form-field class="bet-modal__field" [ngSwitch]="data.currency">
        <span matPrefix *ngSwitchCase="currenciesEnum.USD">$</span>
        <span matPrefix *ngSwitchCase="currenciesEnum.EUR">€</span>
        <span matPrefix *ngSwitchDefault>{{ data.currency }}</span>
        <input
          matInput
          type="text"
          class="bet-modal__input"
          autocomplete="off"
          placeholder="Enter a bet"
          formControlName="bet"
        />
      </mat-form-field>
      <p class="bet-modal__hint">
        Bet integer number from
        {{
          (data.actualBet.length ? +data.actualBet[0].betValue + 1 : "1")
            | currency: data.currency:"symbol-narrow":"1.0"
        }}
        to {{ +data.price - 1 | currency: data.currency:"symbol-narrow":"1.0" }}
      </p>
    </div>
    <p class="bet-modal__unit-cost" [ngStyle]="{ visibility: betForm.invalid ? 'hidden' : 'visible' }">
      {{ unitCostBetText }}
    </p>
    <div mat-dialog-actions class="bet-modal__actions">
      <button
        mat-button
        class="bet-modal__btn"
        [disabled]="betForm.invalid"
        (click)="onCloseBetModal()"
      >
        Bet
        {{
          betForm.valid
            ? (betValue | currency: data.currency:"symbol-narrow":"1.0":"fr")
            : ""
        }}
      </button>
    </div>
  </form>
</div>
