@import "../colors.scss";
@import "../font-sizes.scss";
@import "../offsets.scss";
@import "../sizes.scss";
@import "../responsive.scss";

.mat-form-field {
    .mat-form-field-flex {
        cursor: text;
        .mat-placeholder-required {
            display: none;
        }
    }
    & + & {
      margin-top: $offset-medium;
    }
    &-appearance-outline {
        .mat-form-field-outline {
            color: $color-border-input;
        }

        .mat-form-field-infix {
            padding: 1.15rem 0 0.85rem 0;
            border-top: 0;
            @media only screen and (max-width: $laptop-min-width) {
                padding: 1.3rem 0 0.85rem 0;
            }
            @media only screen and (min-width: $laptop-min-width) and (max-width: $large-laptop-min-width) {
                padding: 1.25rem 0 0.85rem 0;
            }
        }

        .mat-form-field-label {
            margin-top: -0.18rem;
            @media only screen and (max-width: $laptop-min-width) {
              margin-top: -0.7rem;
            }
        }

        &.mat-form-field-can-float.mat-form-field-should-float {
            .mat-form-field-label-wrapper {
                .mat-form-field-label {
                    transform: translateY(-1.3rem) scale(0.75);
                    @media only screen and (max-width: $laptop-min-width) {
                        transform: translateY(-1.6rem) scale(0.75);
                      }
                    @media only screen and (min-width: $laptop-min-width) and (max-width: $large-laptop-min-width) {
                        transform: translateY(-1.5rem) scale(0.75);
                    }
                }
            }
        }
    }
    &-infix {
        .mat-input-element {
            color: $primary-color;
            font-size: $font-size-normal;
            font-weight: 400;
        }
        mat-label {
            font-size: $font-size-normal;
            color: $color-copy;
            line-height: 2rem;
        }
    }
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0 !important;
    }

    .mat-form-field-flex {
        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }
        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }
        .mat-form-field-suffix {
            top: 0.5rem;
            
            @media only screen and (min-width: $ipad-min-device-width) and (max-width: $laptop-min-width) {
                top: 0.55rem;
            }
            
            @media only screen and (min-width: $laptop-min-width) and (max-width: $large-laptop-min-width) {
                top: 0.55rem;
            }
            @media only screen and (min-width: $large-laptop-min-width) and (max-width: $wqhd-screen-min-width) {
                top: 0.30rem;
            }
        }
    }
}

.mat-form-field-invalid.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        padding-bottom: 0rem;
        .mat-form-field-subscript-wrapper {
            position: relative;
            font-size: $font-size-xsmall;
            line-height: 1.333rem;
            padding-left: 0;
            margin-top: $offset-xsmall;
        }
    }
    
    .mat-form-field-outline.mat-form-field-outline-thick {
        color: $color-error;
    }

    .mat-form-field-infix {
        mat-label {
            color: $color-error;
        }
    }
}

.mat-form-field-should-float.ng-touched:not(.ng-invalid) {
    .mat-form-field-flex {
        .mat-form-field-outline {
            color: $primary-color;
            &-thick {
                opacity: 1;
                .mat-form-field-outline-start{
                    opacity: 1;
                    border-width: 2px;
                }
            }
        }
    }
}

.not-matching {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-outline {
                color: $color-error !important;
            }
        }
    }
    
    .mat-form-field-infix {
        mat-label {
            color: $color-error;
        }
    }
}

input.mat-input-element {
    margin-top: 0;
}
