.mat-checkbox {
    .mat-checkbox-layout {
        position: relative;
        .mat-checkbox-background {
            display: none;
        }
        .mat-checkbox-inner-container {
            position: relative;
            .mat-checkbox-ripple {
                position: absolute;
                left: calc(50% - 19px);
            }
        }

        .mat-checkbox-frame {
            position: relative;
            background: transparent;
            border-color: transparent;
        }

        .mat-checkbox-frame::before {
            content: '';
            display: block;
            position: absolute;
            top: -3px;
            left: -4px;
            width: 22px;
            height: 22px;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='3' stroke='%23798787' stroke-width='2'/%3E%3C/svg%3E");
        }

        input[type="checkbox"].mat-checkbox-input {

            &:checked {

                & ~ .mat-checkbox-frame::before {
                    top: -3px;
                    left: -3px;
                    width: 23px;
                    height: 22px;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 11L11 14L22 3' stroke='%2351ACAE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5 11.75V18.5556C19.5 19.6289 18.6289 20.5 17.5556 20.5H3.94444C2.87111 20.5 2 19.6289 2 18.5556V4.94444C2 3.87111 2.87111 3 3.94444 3H14.6389' stroke='%2351ACAE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
            }
        }

    }
    &.ng-invalid.ng-touched {
        .mat-checkbox-layout {
            .mat-checkbox-frame::before {
                content: '';
                display: block;
                position: absolute;
                top: -1px;
                left: -2px;
                width: 18px;
                height: 18px;
                background-position: center top;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='18' height='18' rx='3' stroke='%23D72C00' stroke-width='2'/%3E%3C/svg%3E");
            }
        }
    }
}

.mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      display: none;
    }
  }
}

.acc_bot__check_wrap-ins .mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      display: block;
      margin-left: .8rem;
      font-size: 1.5rem;
      color: $primary-color;
    }
  }
}
