@import "../colors.scss";
@import "../font-sizes.scss";
@import "../offsets.scss";
@import "../sizes.scss";

.mat-raised-button,
.mat-button,
[mat-raised-button],
[mat-button] {
    background: $color-tradewind;
    border-radius: 0.250rem;
    color: $color-white;
    margin: 0.250rem;
    .mat-ripple {
        border: 1px solid $color-tradewind;
    }
}

.mat-button.btn_ghost,
.mat-raised-button.btn_ghost,
[mat-button].btn_ghost,
[mat-raised-button].btn_ghost
 {
    background: $color-white;
    color: $primary-color;
    .mat-ripple {
        border: 1px solid $primary-color;
    }
}

.mat-button.mat-button-disabled,
.mat-raised-button.mat-button-disabled,
[mat-button].mat-button-disabled,
[mat-raised-button].mat-button-disabled
 {
    background: $color-button-disable;
    color: $color-border-input;
    .mat-ripple {
        border: 1px solid $color-button-disable;
    }
}

.btn_reject {
  background: $color-error;
  border-color: $color-error;
  .mat-ripple {
    border: 1px solid $color-error;
  }
}

.btn_approve {
  background: $color-success;
  border-color: $color-success;
  .mat-ripple {
    border: 1px solid $color-success;
  }
}
