.mat-form-field {
    .mat-form-field-flex {
        cursor: text;
        .mat-placeholder-required{
            display: none;
        }
    }
  & + & {
    margin-top: 1.3rem;
  }
}

.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
        padding-bottom: 0;
      margin: 0 !important;
    }
}

.mat-form-field-invalid {
    .mat-form-field-wrapper {
        padding-bottom: 1.5rem;
        .mat-form-field-subscript-wrapper {
            padding-left: 0;
        }
    }
}
