@import "../colors.scss";
@import "../font-sizes.scss";
@import "../offsets.scss";
@import "../sizes.scss";
@import "../responsive.scss";

.mat-raised-button,
.mat-button,
[mat-raised-button],
[mat-button] {
    background: $color-tradewind;
    border-radius: 0.250rem;
    color: $color-white;
    margin: 0.250rem;
    .mat-ripple {
      border: 1px solid $color-tradewind;
    }
}

.mat-button.btn_ghost,
.mat-raised-button.btn_ghost,
[mat-button].btn_ghost,
[mat-raised-button].btn_ghost
 {
    background: $color-white;
    color: $primary-color;
    .mat-ripple {
      border: 1px solid $primary-color;
    }
}

.mat-button.btn_red,
.mat-raised-button.btn_red,
[mat-button].btn_red,
[mat-raised-button].btn_red
  {
    background: $color-white;
    border-color: $color-error;
    color: $color-error;
    .mat-ripple {
      border: 1px solid $color-error;
    }
}

.mat-button.btn_green,
.mat-raised-button.btn_green,
[mat-button].btn_green,
[mat-raised-button].btn_green {
  background: $color-success;
  border-color: $color-success;
  .mat-ripple {
    border: 1px solid $color-success;
  }
}

.mat-button.btn_tradewind,
.mat-raised-button.btn_tradewind,
[mat-button].btn_tradewind,
[mat-raised-button].btn_tradewind {
  color: $color-tradewind;
  background: $color-white;
  border: 1px solid $color-tradewind;
  .mat-ripple {
    border-width: 0px;
  }
}

.mat-button.mat-button-disabled,
.mat-raised-button.mat-button-disabled,
[mat-button].mat-button-disabled,
[mat-raised-button].mat-button-disabled
{
  background: $color-button-disable;
  color: $color-border-input;
  border: none;
  .mat-ripple {
    border: 1px solid $color-button-disable;
  }
}
