<ng-container *ngIf="categoriesLoadingStatus?.loaded; else notLoaded">
  <div class="categories">
    <div class="container">
      <mat-tab-group
        class="categories__wrap"
        mat-stretch-tabs
        animationDuration="0ms"
        color="accent"
      >
        <mat-tab *ngFor="let category of categories">
          <ng-template mat-tab-label>
            <app-category
              class="category"
              [ngClass]="{active: category.id === activeCategory}"
              [category]="category"
            ></app-category>
          </ng-template>
          <mat-list role="list">
            <mat-list-item role="listitem"
                           *ngFor="let subCategory of getCategoryList(category)">{{subCategory.title}}</mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
<ng-template #notLoaded>
  <ngx-spinner *ngIf="categoriesLoadingStatus?.loading; else categoriesError"
               bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
               type="ball-clip-rotate" [fullScreen]="true"><p style="color: white">
    Loading... </p></ngx-spinner>
  <ng-template #categoriesError>
    <p>{{ categoriesLoadingStatus?.error?.statusText }}</p>
  </ng-template>
</ng-template>

