@import "../../../styles/general-styles";

:host {
  .mat-dialog-actions {
    margin-bottom: 0;
    padding: 0;
  }

  .bottom-wrapper {
    display: flex;
    justify-content: space-between;
    form {
      padding-top: 0.75rem;
      width: 65%;
      mat-form-field {
        width: 100%;
      }
    }
  }
}
