@import "../../../../styles/general-styles";

:host {
  .category {
    &__title {
      font-size: 1.5rem;
      color: $primary-color;
      margin: 0 0 0 1rem;
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      color: #798787;
      .mat-tab-label-active & {
        color: $active-color;
      }
    }
  }
}

::ng-deep {
  .mat-tab-label {
    height: 5.3rem;
  }
  .mat-tab-header {
    border: none;
    box-shadow: inset 0 -0.083rem 0 #E6E6E6;
  }
  .mat-tab-group.mat-warn .mat-ink-bar {
    background-color: $active-color;
  }
  .mat-tab-label {
    opacity: 1;
  }
  .mat-tab-label-active {
    background-color: #F2F5F5;
  }
}

