@import "../../../../styles/general-styles";

:host {
  .category {
    &__title {
      font-size: 1.5rem;
      color: $primary-color;
      margin: 0 0 0 1rem;
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      color: #e2001a;
    }
  }
}
/*
::ng-deep {
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #e2001a;
  }
}*/
