<div class="advertisement-price">
  <div class="advertisement-price__bet">
    <span class="label">Bet</span>
    <ng-container *ngIf="false; else noBetBlock">
      <span class="value">11,000$</span>
      <div class="adv-timer">
        <mat-icon svgIcon="timer-icon" class="adv-timer__icon"></mat-icon>
        <span>01:25:54</span>
      </div>
    </ng-container>
    <ng-template #noBetBlock>
      <span class="no-bets">No bets</span>
    </ng-template>
  </div>
  <div class="advertisement-price__total">
    <span class="label">Total price</span>
    <span class="value">{{advertisement.price}}$</span>
    <div class="advertisement-created">
      <mat-icon svgIcon="clock-icon" class="advertisement-created__icon"></mat-icon>
      <span>{{advertisement.createAt | availableDateFormat: 'days': 3}}</span>
    </div>
  </div>
</div>
