<div class="advertisement-title">
  <div class="title-id-container">
    <div>
      <span class="title">{{ advertisement.title }}</span>
      <span
        class="ad-user-flag"
        *ngIf="advertisement.author.id === user?.id && showOwnerFlag"
      >
        (your advertisement)</span
      >
    </div>
    <span class="id">Lot №{{ advertisement.id }}</span>
  </div>
  <div class="create-id-container">
    <span class="create">{{
      advertisement.createAt | date: "dd.MM.yyyy, hh:mm"
    }}</span>
    <div class="advertisement-created">
      <mat-icon class="advertisement-created__icon">access_time</mat-icon>
      <span>{{ advertisement.createAt | availableDateFormat: "days":3 }}</span>
    </div>
  </div>
</div>
