<div class="advertisement-btns">
  <div class="advertisement-btn">
    <button
      mat-button
      class="btn_ghost bet-button"
      [disabled]="user && (isDisabled || betForm.invalid)"
      (click)="user ? onSetBet() : openGuestModal()"
    >
      <mat-icon svgIcon="bet-icon" class="advertisement-btns__icon"></mat-icon>
      <span>Bet </span>
      <span *ngIf="betForm.valid">{{ actualCurrency }}{{ newBet }}</span>
    </button>
  </div>
  <div class="advertisement-btn">
    <button mat-button (click)="user ? openBuyModal() : openGuestModal()">
      <mat-icon
        svgIcon="caret-icon"
        class="advertisement-btns__icon"
      ></mat-icon>
      <span>Buy for {{ actualCurrency }}{{ advertisement.price }}</span>
    </button>
  </div>
</div>
