@import '../../styles/general-styles.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35rem;
  height: 100%;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .mat-card {
    padding: 3rem;
    min-height: max-content;
    width: 34rem;
    box-shadow: 0px 0px 4px rgba(0, 32, 51, 0.08), 0px 0px 24px rgba(0, 32, 51, 0.16);
    &-title {
      margin-bottom: 1.5rem;
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 3.6rem;
    top: 3rem;
    opacity: 0.3;
  }

  .close:hover {
    opacity: 1;
  }

  .form-content {
    max-width: 27rem;
  }

  .form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-forgot {
      color: $color-tradewind;
      border: none;
      cursor: pointer;
      background: inherit;
      padding-left: 0;
      padding-top: $offset-xlarge;
      font-weight: 500;
      font-size: $font-size-small;
    }

    &-ask {
      text-align: center;
      cursor: default;
      color: $color-ask;
      padding: 0;
      font-weight: 400;
    }

    &__field {
      position: relative;
      &-error_match {
        position: relative;
        font-size: $font-size-xsmall;
        line-height: 1.3rem;
        padding-left: 0;
        margin-top: $offset-xsmall;
      }
    }

    &__button {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-acc {
        border: none;
        cursor: pointer;
        background: inherit;
        padding-left: 0;
      }

      &-log {
        margin-top: 2rem;
      }
    }

    &__privacy {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      font-size: $font-size-medium;
      line-height: 2.3rem;
      font-weight: 400;
      padding-top: 1.8rem;

      &-wrapper {
        max-width: 24.4rem;
      }

      p, a, span {
        margin-top: 0.1rem;
      }

      p {
        margin-left: 1.5rem;
      }

      &-click {
        cursor: pointer;
        color: $color-tradewind;
      }
    }

    &-copy {
      margin-top: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 0.84rem;
      text-align: center;
      color: $color-copy;
    }
  }

  hr {
    border: none;
    background-color: #EBEEF1;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
  }
}
