@import '../../styles/general-styles.scss';

.container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    min-width: 35rem;
    
    .mat-card {
        min-width: 310px;
        max-width: 320px;
        box-shadow: 0px 0px 4px rgba(0, 32, 51, 0.08), 0px 0px 24px rgba(0, 32, 51, 0.16);
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 22px;
        width: 22px;
        height: 22px;
        opacity: 0.3;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        right: 10px;
        top: 2px;
        content: ' ';
        height: 17px;
        width: 2px;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    .form_login {
        display: flex;
        flex-direction: column;
        justify-content:  center;

        &-forgot {
            color: $color-tradewind;
            border: none;
            cursor: pointer;
            background: inherit;
            padding-left: 0;
            padding-top: 2rem;
        }

        &-ask {
            text-align: center;
            cursor: default;
            color: #4A4853;
        }

        &__field {
            min-width: 25rem;
        }
    
        &__button {
            display: flex;
            flex-direction: column;
            width: 100%;
            &-acc {
                border: none;
                cursor: pointer;
                background: inherit;
                padding-left: 0;
            }
            &-switch {
                background: #fff;
                border: 0.063rem solid #131314;
                color: #131314;
            }
            &-log {
                margin-top: 2rem;
            }
        }

        &__privacy {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            &-wrapper {
                width: 292px;
            }
            p, a, span {
                margin-top: 0.1rem;
            }
            p {
                margin-left: 0.8rem;
            }
            &-click {
                cursor: pointer;
                color: $color-tradewind;
            }
        }
    }

    hr {
        border: none;
        background-color: #EBEEF1;
        height: 1px;
        width: 100%;
        margin-top: 2rem;
    }
}
