.container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    min-width: 35rem;

    .close {
        cursor: pointer;
        position: absolute;
        right: 22px;
        top: 22px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    .form_login {
        display: flex;
        flex-direction: column;
        justify-content:  center;
        &__field {
            min-width: 25rem;
        }
    
        &__button {
            display: flex;
            justify-content: space-between;
            &-acc{
                border: none;
                cursor: pointer;
                background: inherit;
                padding-left: 0;
            }
        }

        &__privacy {
            display: flex;
            flex-direction: row;
            p, a {
                margin-top: 0.1rem;
            }
            p {
                margin-left: 0.8rem;
            }
        }
    }
}