<div class="container">
    <mat-card class="mat-card">
        <mat-card-title *ngIf="!this.loginForm">Sign up</mat-card-title>
        <mat-card-title *ngIf="this.loginForm">Log in</mat-card-title>
        <span class="close" (click)="close()"></span>
        <mat-card-content>
            <form [formGroup]="form" class="form_login">

                <mat-form-field class="form_login__field">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="this.get('email').touched && this.get('email').hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="this.get('email').touched && this.get('email').hasError('email')">Email must be valid</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="!this.loginForm" class="form_login__field">
                    <mat-label>Username</mat-label>
                    <input type="Username" matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="this.get('username').touched && this.get('username').hasError('required')">Username is required</mat-error>
                    <mat-error *ngIf="this.get('username').hasError('minlength')">Password must bigger than {{this.MIN_USER_NAME_LENGTH}} char</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="!this.loginForm" class="form_login__field">
                    <mat-label>Phone number</mat-label>
                    <input type="text" matInput placeholder="Phone number" formControlName="phoneNumber">
                    <mat-error *ngIf="this.get('phoneNumber').touched && this.get('phoneNumber').hasError('required')">Phone number is required</mat-error>
                    <mat-error *ngIf="this.get('phoneNumber').touched && this.get('phoneNumber').hasError('pattern')">Phone number is incorrect</mat-error>
                </mat-form-field>

                <mat-form-field class="form_login__field">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="this.get('password').touched && this.get('password').hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="this.get('password').hasError('minlength')">Password must bigger than {{this.MIN_PASSWORD_LENGTH}} char</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="!this.loginForm" class="form_login__field">
                    <mat-label>Password Confirm</mat-label>
                    <input [type]="hideConf ? 'password' : 'text'" matInput placeholder="Password Confirm" formControlName="passwordConfirm">
                    <button mat-icon-button matSuffix (click)="hideConf = !hideConf;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConf">
                        <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="this.get('passwordConfirm').touched && this.get('passwordConfirm').hasError('required')">Password confirm is required</mat-error>
                </mat-form-field>

                <mat-error *ngIf="this.get('password').value && this.get('passwordConfirm').value && this.get('password').touched && this.get('passwordConfirm').touched && form.hasError('passwordsNotMatching')">Passwords not matching</mat-error>

                <div *ngIf="!this.loginForm" class="form_login__privacy">
                    <mat-checkbox formControlName="checkBoxConfirm"></mat-checkbox>
                    <div class="form_login__privacy-wrapper">
                        <p>
                        I am familiar with the
                        <span (click)="openDialog()" class="form_login__privacy-click">Privacy policy</span>
                        and
                        <span (click)="openDialog()" class="form_login__privacy-click">User Agreement</span>
                        . I consent to the processing of my personal data.
                        </p>
                    </div>
                </div>

                <div class="form_login__button">
                    <button *ngIf="this.loginForm" class="form_login-forgot" [disabled]="true">Forgot your pasword?</button>
                    <button *ngIf="!this.loginForm" mat-button (click)="onRegister()" [disabled]="!form.valid" class="form_login__button-log">Sign up</button>
                    <hr *ngIf="!this.loginForm">
                    <p *ngIf="!this.loginForm" class="form_login-forgot form_login-ask">Already have an account?</p>
                    <button *ngIf="!this.loginForm" mat-button (click)="switch()" class="form_login__button-switch">Log in</button>
                    <button *ngIf="this.loginForm" mat-button (click)="onLogin()" [disabled]="this.get('password').hasError('required') || this.get('email').hasError('required')" class="form_login__button-log">Log in</button>
                    <hr *ngIf="this.loginForm">
                    <p *ngIf="this.loginForm" class="form_login-forgot form_login-ask">Don't have an account?</p>
                    <button mat-button *ngIf="this.loginForm" class="form_login__button-switch" (click)="switch()">Sign up</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
