<div class="container">
    <mat-card class="mat-card">
      <mat-card-title *ngIf="!this.isLoginForm">Sign up</mat-card-title>
      <mat-card-title *ngIf="this.isLoginForm">Log in</mat-card-title>
      <mat-icon class="close" (click)="close()">close</mat-icon>
      <mat-card-content class="form-content">
        <form [formGroup]="form" class="form_login">
          <mat-form-field *ngIf="!this.isLoginForm" class="form_login__field">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="Name"
              formControlName="username"
            />
            <mat-error
              *ngIf="
                this.get('username').touched &&
                this.get('username').hasError('required')
              "
              >Enter your Name</mat-error
            >
            <mat-error *ngIf="this.get('username').hasError('minlength')"
              >Name must bigger than
              {{ this.MIN_USER_NAME_LENGTH }} char</mat-error
            >
          </mat-form-field>

          <mat-form-field class="form_login__field">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                this.get('email').touched &&
                this.get('email').hasError('required')
              "
              >Enter your email</mat-error
            >
            <mat-error
              *ngIf="
                this.get('email').touched && this.get('email').hasError('pattern')
              "
              >Email must be valid</mat-error
            >
          </mat-form-field>
  
          <mat-form-field *ngIf="!this.isLoginForm" class="form_login__field">
            <mat-label>Phone</mat-label>
            <input
              type="text"
              matInput
              placeholder="Phone"
              formControlName="phoneNumber"
            />
            <mat-error
              *ngIf="
                this.get('phoneNumber').touched &&
                this.get('phoneNumber').hasError('required')
              "
              >Enter your Phone</mat-error
            >
            <mat-error
              *ngIf="
                this.get('phoneNumber').touched &&
                this.get('phoneNumber').hasError('pattern')
              "
              >Enter a valid phone</mat-error
            >
          </mat-form-field>
  
          <mat-form-field class="form_login__field" [ngClass]="{'not-matching' : isPasswordsMatching()}">
            <mat-label>Password</mat-label>
            <input
              [type]="this.isHidePass ? 'password' : 'text'"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="changePaswordVisibility($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="this.isHidePass"
            >
              <mat-icon>{{
                this.isHidePass ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                this.get('password').touched &&
                this.get('password').hasError('required')
              "
              >Enter your password</mat-error
            >
            <mat-error *ngIf="this.get('password').hasError('minlength')"
              >Minimum
              {{ this.MIN_PASSWORD_LENGTH }} characters</mat-error
            >
          </mat-form-field>
  
          <mat-form-field *ngIf="!this.isLoginForm" class="form_login__field" [ngClass]="{'not-matching' : isPasswordsMatching()}">
            <mat-label>Password Confirm</mat-label>
            <input
              [type]="this.isHidePassConf ? 'password' : 'text'"
              matInput
              placeholder="Password Confirm"
              formControlName="passwordConfirm"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="changePaswordVisibilityConf($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="this.isHidePassConf"
            >
              <mat-icon>{{
                this.isHidePassConf ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                this.get('passwordConfirm').touched &&
                this.get('passwordConfirm').hasError('required')
              "
              >Confirm your password </mat-error
            >
          </mat-form-field>
  
          <mat-error
            *ngIf="
              this.get('password').value &&
              this.get('passwordConfirm').value &&
              this.get('password').touched &&
              this.get('passwordConfirm').touched &&
              form.hasError('passwordsNotMatching')
            "
            class="form_login__field-error_match"
            >Passwords not matching</mat-error
          >
  
          <div *ngIf="!this.isLoginForm" class="form_login__privacy">
            <mat-checkbox formControlName="checkBoxConfirm"></mat-checkbox>
            <div class="form_login__privacy-wrapper">
              <p>
                I am familiar with the
                <span
                  (click)="openPolicyModal()"
                  class="form_login__privacy-click"
                  >Privacy policy</span
                >
                and
                <span
                  (click)="openPolicyModal()"
                  class="form_login__privacy-click"
                  >User Agreement</span
                >
                . I consent to the processing of my personal data.
              </p>
            </div>
          </div>
  
          <div
            *ngIf="this.isLoginForm; else registerPage"
            class="form_login__button"
          >
            <button class="form_login-forgot" [disabled]="true">
              Forgot your pasword?
            </button>
            <button
              mat-button
              (click)="onLogin($event)"
              class="form_login__button-log"
            >
              Log in
            </button>
            <hr />
            <p class="form_login-forgot form_login-ask">Don't have an account?</p>
            <button
              mat-button
              class="btn_ghost"
              (click)="switchForms($event)"
            >
              Sign up
            </button>
          </div>
  
          <ng-template #registerPage>
            <button
              mat-button
              (click)="onRegister($event)"
              class="form_login__button-log"
            >
              Sign up
            </button>
            <hr />
            <p class="form_login-forgot form_login-ask">
              Already have an account?
            </p>
            <button
              mat-button
              (click)="switchForms($event)"
              class="btn_ghost"
            >
              Log in
            </button>
          </ng-template>
  
          <small class="form_login-copy">&copy; 2022 AGROEX</small>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  