<ng-container *ngIf="categoriesLoadingStatus?.loaded; else notLoaded">
  <app-header [userRole]="userRole" [user]="user" (logout)="onLogout()" (selectTab)="onSelectTab($event)"></app-header>

  <app-categories
    [categories]="categories"
    [categoriesLoadingStatus]="categoriesLoadingStatus"
  >
  </app-categories>
  <div class="advertisement-list">
    <div class="container">
      <app-advertisements-list
        [advertisementsRequest]="advertisementsRequest"
        [advertisementsLoadingStatus]="advertisementsLoadingStatus"
        (setBet)="onSetBet($event)"
      >
        <ng-template #actionButtons let-advertisement>
          <app-advertisements-list-buttons
            class="advertisement-wrap__btns"
            [advertisement]="advertisement"
            (setBet)="onSetBet($event)">
          </app-advertisements-list-buttons>
        </ng-template>
      </app-advertisements-list>
    </div>
  </div>
</ng-container>

<ng-template #notLoaded>
  <ngx-spinner
    *ngIf="categoriesLoadingStatus?.loading; else categoriesError"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
  <ng-template #categoriesError>
    <p>{{ categoriesLoadingStatus?.error?.statusText }}</p>
  </ng-template>
</ng-template>
